.container{
    width: 100%;
    text-align: center;
    color: gray;
}
h1{
    color: rgb(78, 145, 145);
}
input{
    border: 1px solid gray;
    border-radius: 15px;
    height: 30px;
    text-align: center;
    color: rgb(78, 145, 145);
}
input:hover{
    outline: none;
}
.inputFIO{
    width: 350px;
}
.result{
    display: grid;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}
.result label{
    display: grid;
}
.result input{
    width: 250px;
}
.btn{
    border: none;
    border-radius: 15px;
    height: 30px;
    width: 100px;
    background-color: rgb(78, 145, 145);
}